@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
  font-family: "Outfit", sans-serif;
}

body{
  background-color: rgb(250, 236, 185);
}

#Top {
  color: rgb(139,82,32);
  text-align: center;
  font-size: 65px;
}

#Meat{
  color: rgb(139,82,32);
  text-align: center;
  font-size: 45px;
}

.member-card {
  border-radius: 25px;
  background: rgb(176,118,69);
  height: 550px;
}

.member-img {
  width: 100%;
  border-radius: 6px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.name {
  font-size: 30px;
  color: antiquewhite;
}

.desc {
  font-size: 20px;
  color: rgb(229,204,172);
}

.tristan {
  object-position: center -100px;
}

.buttons > button,
a {
  padding: 6px 12px;
  border-radius: 6px;
  background: none;
  border: 3px solid rgb(176,118,69);
  color: rgb(176,118,69);
  text-decoration: none;
  transition: 0.15s all;
}

.buttons > button:hover,
a:hover {
  background-color: rgb(176,118,69);
  color: antiquewhite;
}

a {
  padding: 8px 12px !important;
}

.modal-header,
.modal-body,
.modal-footer {
  border-color: #fff4c4 !important;
  background-color: #7e4d2f !important;
  color: antiquewhite !important;
}

.modal-img {
  width: 140px;
  aspect-ratio: 1 / 1;
}

.modal-footer > button {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background-color: antiquewhite;
  color: #7e4d2f;
  transition: 0.15s all;
}

.modal-footer > button:hover {
  background-color: rgb(215, 202, 185);
}