/* utility classes */

.cd-rotate {
  animation: cd-rotate 5s linear infinite both;
}

/* animations */

@keyframes cd-rotate {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

/* banner */

.english {
  position: relative;
  display: grid;
  place-items: center;
  margin-top: 80px;
}

.english .banner {
  width: 100%;
  height: 300px;
  object-fit: cover;
  opacity: 70%;
}

.english .banner-text {
  position: absolute;
}

.english .banner-title {
  color: white;
  font-family: 'Bitter', serif !important;
  font-weight: bold;
  font-style: italic;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  font-size: 3rem;
}

.english .banner-description {
  color: white;
  font-family: 'K2D', sans-serif !important;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
}

/* collection */

.collection-title {
  color: white;
  font-family: 'Bitter', serif !important;
  font-weight: bold;
  font-size: 2.5rem;
}

.collection-description {
  color: white;
  font-family: 'K2D', sans-serif !important;
  width: 80%;
  text-align: justify;
}

/* sonnet */

.name {
  color: white;
  font-family: 'Bitter', serif !important;
  font-weight: bold;
}

.width {
  overflow-x: hidden;
}

.sonnet {
  position: relative;
  width: 100%;
}

.cd {
  position: absolute;
  width: 80%;
  z-index: -1;
  margin-left: 100px;
}

.album {
  width: 80%;
  align-self: center;
  cursor: pointer;
}

.song-title {
  color: white;
  font-family: 'Bitter', serif !important;
  cursor: pointer;
}

.song-artist {
  color: white;
  font-family: 'K2D', sans-serif !important;
  cursor: pointer;
}

.song-info:hover {
  text-decoration: underline;
  color: white;
}

/* modal */

.modal-content {
  background-color: black;
}

.modal-title {
  color: rgb(222, 226, 230);
  font-family: 'Bitter', serif !important;
  font-weight: bold;
}

.close {
  border: none;
  padding: 0;
}

.btn img {
  width: 20px;
}

.modal-body {
  color: white;
}

.modal-body h4 {
  font-family: 'Bitter', serif !important;
  font-weight: bold;
}

.modal-body h5,
.modal-body p {
  font-family: 'K2D', sans-serif !important;
}

.btn {
  color: white;
  font-family: 'K2D', sans-serif !important;
}

.btn:hover {
  color: white;
  text-decoration: underline;
}