.h5, h5{
  font-family: "Maison";
  font-size: 50px;
  color: #860000;
}

h2{
  font-family: "Abril Fatface", serif !important;
  font-size: 50px;
  color: #860000;
}

.h2, h2{
  font-family: "Cloud";
  font-size: 50px;
  color: #860000;
}

.p, p{
  font-family: "Maison";
  font-size: 25px;
  color: #762d00;
}

form {
  color: rgb(118, 45, 0);
  font-family: "Maison";
}

.form-label{
  font-family: "Maison";
  font-size: 25px;
}

.input[type=button], input[type=submit], input[type=reset]{
  padding: 4px 12px;
  border-radius: 30px;
  transition: 0.15s all;
  background-color: #591303;
  font-family: "Maison";
  color:antiquewhite;
  font-size: 25px;
  border: none;
}

.list-group-item {
  background: none;
  border-color: rgb(134, 0, 0);
}

.prod-name {
  font-weight: bold;
}

.remove-btn {  
  cursor: pointer;
}

.remove-btn:hover {
  text-decoration: underline;
}

.total {
  font-size: 2rem;
}

@font-face {
  font-family: Cloud;
  src: url("fonts/Qiunels-MVz5B.ttf");
}

@font-face {
  font-family: Maison;
  src: url("fonts/MaisondeartisanfreeRegular-qZl52.otf");
}