.h5, h5{
  font-family: "Maison";
  font-size: 50px;
}

.navbar {
  background-color: #AC6C82;
}

.navbar-toggler {
  border: none;
}

.navbar-burger {
  width: 30px;
  height: 30px;
}

.navbar-brand {
  font-family: "Maison";
  color: #455C7B;
  font-size: 1.9rem;
  transition: 0.15s all;
  font-weight: bold;
}

.navbar-brand:hover {
  color: #1e2c3e;
}

.navbar-cart {
  width: 35px;
  height: 35px;
}

.offcanvas {
  background-color: #685C79;
}

.offcanvas-title,
.nav-link,
.nav-link:hover {
  color: #DA7A7E;
}

.nav-close-button {
  background: none;
  border: none;
}

.nav-close {
  width: 25px;
  height: 25px;
}

.nav-item {
  transition: 0.15s all;
}

.nav-item:hover {
  background-color: #7e4e5f;
}

.nav-icon {
  width: 30px;
  height: 30px;
}

body {
  font-family: Arial, sans-serif;
  background: rgb(151,104,126);
  background: linear-gradient(0deg, rgba(151,104,126,1) 0%, rgba(218,114,126,1) 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.about-section {
  color: #000;
  padding: 50px 0;
}

.about-section h1 {
  font-size: 3rem;
  font-family: "Cloud";
  margin-bottom: 30px;
  margin-top: 40px;
  font-size: 90px;
  color: rgb(90, 39, 2);
  text-decoration: underline;
}

.text-center{
  font-family: "Maison";
  font-size: 50px;
  color: rgb(90, 39, 2);
}

.developer-box {
  text-align: center;
  margin-bottom: 190px;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.developer-icon {
  text-align: center;
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #fff;
  padding: 7px;
}

.developer-details h3 {
  font-size: 40px;
  color: #ffc107;
  font-family: "Cloud";
}

.developer-details p {
  font-size: 30px;
  color: #ffc107;
  font-family: "Maison";
}

@media screen and (max-width: 769px) {
  h1 {
    font-size: 5.5rem !important;
  }

  .about-section p {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 576px) {
  h1 {
    font-size: 4rem !important;
  }

  .about-section p {
    font-size: 2rem;
  }
}

@font-face {
  font-family: Cloud;
  src: url("fonts/Qiunels-MVz5B.ttf");
}

@font-face {
  font-family: Maison;
  src: url("fonts/MaisondeartisanfreeRegular-qZl52.otf");
}
