.h1, h1{
  font-family: "Cloud";
  font-size: 100px;
  color:#860000 ;
  text-decoration: underline;
}

.h5, h5{
  font-family: "Maison";
  font-size: 50px;
  color: #860000;
}

.h2, h2{
  font-family: "Cloud";
  font-size: 50px;
  color: #860000;
}

.p, p{
  font-family: "Maison";
  font-size: 25px;
  color: #762d00;
}

.carousel {
  width: 70%;
}

.carousel-img {
  width: 100%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  border-radius: 20px;
  display: block;
}

.category-title {
  margin-bottom: 20px;
  font-family: "Abril Fatface", serif;
  font-size: 4rem;
}

.category-desc {
  font-size: 2rem;
}

.card,
.card-footer {
  background: none;
  border: none;
}

.card {
  padding-top: 40px;
  padding-bottom: 20px;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.card,
.card-body{
  background: linear-gradient(180deg, rgba(255,187,141,1) 51%, rgba(255,180,203,1) 89%);
  border-radius: 30px;
}

.product-img {
  width: 70%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  border: 10px solid;
  border-radius: 30px;
  padding: 15px;
  border-image-source: url("images/lace.png");
  border-image-slice: 180;
  border-image-width: 50;
  border-image-outset: 1;
}

.product-name,
.product-price {
  text-align: center;
  margin: 0;
  padding-bottom: 10px;
}

.product-name {
  font-size: 2rem;
}

.product-desc {
  text-align: center;
  margin-bottom: 0;
}

.physics-price {
  margin-bottom: 73px;
}

.gaming-price {
  margin-bottom: 74px;
}

.life-price {
  margin-bottom: 70px;
}

.add-to-cart {
  padding: 6px 15px;
  border-radius: 24px;
  background-color: #8f2a13;
  border: none;
  color: #D99748;
  transition: 0.15s all;
  font-size: 1.2rem;
  font-family: 'Maison';
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #411107;
}

@font-face {
  font-family: Cloud;
  src: url("fonts/Qiunels-MVz5B.ttf");
}

@font-face {
  font-family: Maison;
  src: url("fonts/MaisondeartisanfreeRegular-qZl52.otf");
}

@media screen and (max-width: 769px) {
  .carousel {
    width: 90%;
  }

  .product-img {
    width: 70%;
  }

  .h1, h1{
    font-size: 5rem;
  }

  .h5, h5{
    font-size: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .shop-desc {
    width: 20rem;
  }

  .carousel {
    width: 100%;
  }

  .carousel-img {
    border-radius: 30px;
  }

  .h1, h1{
    font-size: 3.5rem;
  }

  .h5, h5{
    font-size: 2rem;
  }
}