:root {
  --background: rgb(251, 245, 200);
  --brown: rgb(81, 36, 14);
  --brown-dark: rgb(68, 30, 11);
}

* {
  font-family: "Rubik", sans-serif !important;
}

#body {
  background-color: var(--background);
}

.card {
  border: none !important;
}

.card-header {
  background-color: var(--brown) !important;
  border: none !important;
  color: white !important;
}

.list-group-item {
  background-color: none !important;
  border-color: var(--background) !important;
}

.button {
  background-color: var(--brown);
  color: white;
  border: none;
  padding-inline: 12px;
  padding-block: 6px;
  transition: all 0.15s;
}

.button:nth-child(1) {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.button:nth-child(2) {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.button:hover {
  background-color: var(--brown-dark);
}