:root {
  --blue-background: rgb(79, 96, 132);
  --blue-hover: rgb(52, 64, 88);
}

body {
  background-image: url('happiness.avif');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container {
  background: rgba(255, 255, 255, 0.391);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.5px);
  -webkit-backdrop-filter: blur(3.5px);
}

.card-header {
  background-color: var(--blue-background);
  color: white;
}

.keyboardthing {
  width: 40%;
  place-self: center;
}

.keyboard-row > button,
.clear {
  border-radius: 6px;
  padding: 6px 12px;
  background-color: var(--blue-background);
  border: 1px solid rgb(86, 108, 116);
  transition: 0.15s all;
}

.clear {
  color: white;
}

.keyboard-row > button {
  flex: 1;
  margin-right: 6px;
  background-image: url('happiness.avif');
  background-size: cover;
  background-position: center center;
  color: rgb(51, 68, 73);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
}

.keyboard-row > button:hover,
.clear:hover {
  background-color: var(--blue-hover);
}

.keyboard-row {
  display: flex;
  justify-content: space-between;
}

.space {
  width: 100%;
}